name: Auto Assign Reviewer & Assignee

on:
  pull_request_target:
    types: [opened, reopened]

permissions:
  pull-requests: write
  contents: read

jobs:
  assign:
    runs-on: ubuntu-latest
    steps:
      - uses: toshimaru/auto-assign-reviewer@v2
        with:
          reviewers: "ashubambal"
          assignees: "ashubambal"
          max-num-of-reviewers: 1
          max-num-of-assignees: 1
